.menu {
    opacity: 0;
    transition: opacity 300ms
}

.menu > li {
    transform: translateY(25px);
    opacity: 0;
    transition: opacity 300ms ease, transform 300ms ease;
}

.menuopen {
    opacity: 1;

}


.menuopen > li {
    transform: translateY(0px);
    opacity: 1;
    transition: opacity 300ms ease, transform 300ms ease;
}